%h1 Profile information
%dl
  %dt
    Organization name
  %dd
    = @profile.organization_name

  %dt
    Address
  %dd
    %span
      = "Door number: #{ @profile.address.door_number}"
    %span
      = "Street: #{ @profile.address.street}"
    %span
      = "City: #{ @profile.address.city}"
    %span
      = "Country: #{ @profile.address.country}"
    %span
      = "Postcode: #{ @profile.address.postcode}"

= link_to "Edit profile", edit_profile_path(@profile)
