#search
  %p Search for contributions
  = form_tag search_contributions_path, method: "GET", remote: :true do
    %fieldset#distance
      = label_tag :distance, "Within distance in Km"
      = select_tag :distance, options_for_select(['5', '10', '15', '20', '25'])
    %fieldset
      = submit_tag :search
#results
  %h1 List of contributions available
  %ul
  - @contributions.each do |contribution|
    = render contribution

