#search
  %p Search for contributions
  = form_tag search_contributions_path, method: "GET", remote: :true do
    %fieldset#distance
      = label_tag :distance, "Within distance in miles"
      = select_tag :distance, options_for_select(['3', '5', '10'])
    %fieldset
      = submit_tag :search
#results
  %h1 List of contributions available
  %ul
  - unless @contributions.empty?
    - @contributions.each do |contribution|
      = render contribution
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAHUYHURP4c_vUvTGCT-AkrFNlu-KdUBvg&callback=initMap", :async => true, :defer => true
#map-canvas{ data: { charity: @charity_as_json.to_json, providers: @providers_as_json.to_json } }



