%h1 Your contribution helps
%h2 Products

%p Contribution cannot be created because the following fields are required
- if @contribution.errors.messages.length
  - @contribution.errors.messages.each do |key, value|
    %ul#errors
      %li.field-required
        = "#{key.to_s.capitalize!.gsub('_', " ")} " << value[0]

= form_for ([:user, @contribution]) do |f|
  %fieldset
    = f.fields_for :products do |p|
      %ul#products-list
        %li{class:"product"}
          = p.label :quantity
          = p.text_field :quantity

          = p.label :product_name
          = p.text_field :product_name

          = p.label :perishable
          = p.check_box :perishable
    = f.label :collection_date
    = f.date_select(:collection_date, order: [:day, :month, :year], prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, start_year: Time.now.year)

  = link_to "Add product", add_product_user_contributions_path, :remote => true
  = f.submit "Add contribution"

:javascript
  var i = $(".product").length
