<!DOCTYPE html>
<html>
<head>
  <title>Usingfoodwasteapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="grid grid-pad">
    <header>
      <a href="<%= root_path %>">
        <i id="logo"><span id="site-title">Sustainable Use of Food Waste</span></i>
      </a>
      <nav>
        <ul id="desktop-menu">
          <% if current_user %>
            <li><%= link_to 'My Profile', profile_path(current_user.profile) %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: 'DELETE' %></li>
            <% if current_user.type == "Provider" %>
              <li><%= link_to "Add contribution", new_user_contribution_path(:user_id => current_user.id) %></li>
              <li><%= link_to "Your contributions", user_contributions_path(:user_id => current_user.id) %></li>
            <% else %>
              <li><%= link_to "Providers available", users_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>

      <%= image_tag "hamburger.png", id: "hamburger" %>
      <div id="mobile-navigation">
        <ul>
          <% if current_user %>
            <li><%= link_to 'My Profile', profile_path(current_user.profile) %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: 'DELETE' %></li>
            <% if current_user.type == "Provider" %>
              <li><%= link_to "Add contribution", new_user_contribution_path(:user_id => current_user.id) %></li>
              <li><%= link_to "Your contributions", user_contributions_path(:user_id => current_user.id) %></li>
            <% else %>
              <li><%= link_to "Providers available", users_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
  </div>
  <div class="grid grid-pad">
    <main>
      <div class="grid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  </div>
  <div class="grid grid-pad">
    <footer>
      &#169; Sostenible Use of Food Waste
    </footer>
  </div>
</body>
</html>
